i {
  color: red;
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

a[href^="http://"]
{
  color: red;
}

a {
  color: green;
}

.line {
  text-decoration: underline;
  color: grey;
}

b {
  color: purple;
}

a[href$='.com'] {
  color: black;
}

.even b {
  text-decoration: underline;
}
